<h1>Tasks</h1>
<h2>To Do:</h2>


<ul>
    {% for task in tasks_pending %}
    <li><a href="{% url 'task' task.task_id %}">{{ task.task }}</a></li>
    {% endfor %}
</ul>

<h2>Complete:</h2>

<ul>
    {% for task in tasks_completed %}
    <li><a href="{% url 'task' task.task_id %}">{{ task.task }}</a></li>
    {% endfor %}
</ul>

<form action="{% url 'todo' %}" method="POST">
    {% csrf_token %} {{ form }}
    <input type="submit" name="create" value="Create" />
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a href="{% url 'notes' %}">Go To Notes Page</a>